.header {
  padding: 1.1em 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static;
  top: 0;
  left: 0;
  margin-bottom: 2em;
}
.header_logo {
  max-width: 75px;
}
.navbar_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.navbar_hamburger_list {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  z-index: 10;
  max-width: 500px;
  background-color: #232323f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  transition: all 0.5s ease;
  transform: translateX(-100%);
}

.navbar_list_item,
.navbar_hamburger_list_item {
  cursor: pointer;
  user-select: none;
  transition: color 0.1s linear;
}
.navbar_list_item {
  color: var(--secondary-color);
}
.navbar_hamburger_list_item a {
  color: white;
}
.navbar_list_item:hover {
  color: #ba91ff;
}

.header_button a {
  text-decoration: none;
}
.hamburger {
  display: none;
  padding: 0.5em 1.3em;
  margin-bottom: 2.5em;
}
.hamburger_icon {
  color: white;
  margin-left: auto;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .header {
    display: none;
    margin: 1.1em 2em;
  }
  .hamburger {
    display: flex;
    background-color: var(--primary-color);
  }
}
@media only screen and (max-width: 900px) {
  .header {
    padding: 1.1em 2em;
  }
}

.hamburger_menu_close_icon {
  position: absolute;
  top: 5%;
  right: 5%;
  color: white;
  cursor: pointer;
}
